.nav {
    background: var(--color-primary);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
.nav div.container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo a {
    padding: 0;
    width: 15rem;
    height: 8rem;
}

.nav .menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .menu .menuBtn {
    display: none;
    padding: 0.8rem 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-white);
    font-size: 3.5rem;
    transition: 0.3s;
}

.nav .menu .menuBtn:hover,
.nav .menu .menuBtn.active,
.nav .menu .menuBtn:active {
    color: var(--color-primary);
    background: var(--color-white);
}

.nav .menu .navList {
    flex: 1;
    display: flex;
}

.nav a {
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    transition: 0.3s;
    border-radius: 0.5rem;
}
.nav .desk-a:hover {
    color: var(--color-primary);
    background: #fff;
}

a.login {
    background: var(--color-blue);
    border-radius: 0.6rem;
}
.nav .navList li {
    margin-right: 1rem;
}

@media only screen and (max-width: 805px) {
    a.login {
        margin-right: 1rem;
    }
    .nav .menu .menuBtn {
        display: flex;
        align-items: center;
    }
    .nav .menu .navList {
        display: block;
        position: absolute;
        top: 110%;
        right: 0;
        padding: 1rem 0;
        background: var(--color-white);
        transition: 0.3s;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transform: scale(0.5);
        z-index: 0;
        opacity: 0;
        visibility: hidden;
    }
    .menu .navList.active {
        transform: scale(1);
        z-index: 1;
        opacity: 1;
        visibility: visible;
    }

    .menu .navList li {
        width: 100%;
    }
    .menu .navList a {
        display: block;
        font-size: 2rem;
        color: var(--color-primary);
        padding: 1rem;
        width: 100%;
    }
    .menu .navList a:hover,
    .menu .navList a:active {
        color: #fff;
        background: var(--color-primary);
    }
}

@media only screen and (max-width: 330px) {
    .nav .menu .menuBtn {
        font-size: 3rem;
    }
    a.login {
        padding: 0.8rem 2rem;
    }
}
